* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* Work */

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto minmax(0,1fr) auto; 
  gap: 4px;
  width: 100%;
  height: 100vh;
}

.header{
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  grid-template-columns: 1fr 4fr;
  justify-items: center;
  align-items: center;
  height: 65px;
}


.menu{
  justify-self: flex-end;
  grid-column: 2 / 3;
}

.menu ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: max(50px, 2%);
}

ul>li{
  list-style: none;
  text-align: center;
}

.sidebar{
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  gap: 50px;
  padding: 10px;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: space-around;
}

.sidebar div{
  width: 90%;
  height: auto;
  display: grid;
  place-items: center;
}

.nav{
  grid-column: 2 / 3;
  grid-row: 2 / 3;

}

.nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article{
  display: grid;
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  overflow: auto;
}

.article .card{
  height: 200px;
}

.footer{
  display: grid;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  height: 40px;
  align-items: center;
}