* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* Work */

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 8fr 1fr; 
}

.header{
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  grid-template-columns: 1fr 4fr;
  justify-items: center;
  align-items: center;
}

.menu{
  justify-self: flex-end;
  grid-column: 2 / 3;
}

.menu ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: stretch;
}

ul>li{
  list-style: none;
}

.sidebar{
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.nav{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.article{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.footer{
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}